<div class="toDo-table">
  <form class="" action="index.html" method="post">
    <input type="text" name="item" placeholder="Add a new To Do..." value="" required>
    <input type="button" name="button" value="Submit">
  </form>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</div>
