* {
  background-color: #DCDDDF;
}
.toDo-main {
  background-color: #8C8F95;
  width: 50%;
  margin: 4em auto;
}
h1 {
  background-color: inherit;
  text-align: center;
  color: #fff;
  font-size: 3em;
  padding: .25em;
}
form {
  margin: 1em auto;
  text-align: center;
  background-color: inherit;
  color: #fff;
}
input[type=text] {
  color: green;
  font-size: 1.5em;
  padding: .15em;
  overflow: hidden;
  width: 75%;
}
input[type=text]:focus {
  outline: none;
}
ul {
  list-style: none;
  background-color: inherit;
  color: #000;
  text-align: center;
  padding: 1em;
}
li {
  margin: 1em auto;
  background-color: #fff;
  font-size: 1.5em;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.checkComplete {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
button[name=complete]  {
  border: none;
  background-color: transparent;
}
button[name=complete]:focus {
  outline-color: green;
}
li p {
  margin: 0;
  background-color: inherit;
}
a {
  text-decoration: none;
  margin: 0 auto;
  margin-right: 0;
  background-color: inherit;
}
img {
  width: 1.5em;
  height: 1.5em;
}
.toDo-main ul {
  margin-bottom: 0;
}
.toDo-done {
  margin-top: 0;
  padding-top: 0;
}
.toDo-done li {
  text-decoration: line-through;
}
.delete {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
button[name=delete]  {
  border: none;
  background-color: #94979D;
  color: #fff;
  font-weight: 500;
  font-size: .5em;
  padding: .5em;
  border-radius: .5em;
}
button[name=delete]:hover {
  background-color: red;
}
button[name=delete]:focus {
  outline-color: red;
}

/*==== editToDo.mustache =====*/
.editToDo {
  background-color: #8C8F95;
  width: 80%;
  padding: 3em;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
.editToDo h1 {
  color: blue;
  text-align: center;
}
.editToDo form {
  margin-top: .5em;
}
button[name=update]  {
  border: solid 1px blue;
  background-color: #94979D;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  padding: .75em;
  border-radius: .5em;
  margin-top: 2.5em;
}
button[name=update]:hover {
  background-color: blue;
}
button[name=update]:focus {
  outline-color: blue;
}
